################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/T-jprogram/FileContentIndex/4c0a13b7-c848-4fde-be4d-8d8e2dcc003a.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
